<%- contentFor('hero') %>
    <section class="hero">
        <div class="hero-content">
            <h2>Yhteydet</h2>
            <p>kaikkee kivaa</p>
            <a href="/contact" class="btn btn-lg btn-primary">Tipu rivi tähän</a>
        </div>
    </section>

    <%- contentFor('body') %>  
    <div class="jumbotron text-center">
      Moikka
    </div>